#root{
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__links_items a{
    margin-left: 15px;
    margin-right: 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:nth-child(5){
    color: #F9995D;
}